




.infos-page{
    padding-left: 50px;
    font-size: 30px;
}
.infos-description{
    font-size: 25px;
    padding-top: 30px;
    padding-left: 50px;
}
.contact-menu{
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 70px;
    margin-bottom: 40px;
    gap: 20px;
}
.contact-menu .info{
    color: orangered;
    text-decoration: underline;
}
.contact-menu li a{
    color: black;
    font-size: 18px;
}
.contact-menu li a:hover{
    color: orangered;
    text-decoration: underline;
}
.contact-img img{
    max-width: 1080px;
    margin-left: 50px;
    margin-right: 70px;
}





.contact2-page{
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 30px;
    margin-left: 50px;
}
.contact2-cards{
    display: grid;
    grid-template-columns: auto;
    gap: 60px;
}
.contact2-card{
    margin-left: 50px;
    display: grid;
    grid-template-columns: auto auto;
}
.contact2-img img{
    width: 420px;
    transition: transform 0.3s ease;
}
.contact2-img img:hover{
    transform: scale(1.05);
}
.contact2-card__infos{
    margin-right: 150px;
}
.card__infos-page{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 7px;
}
.card__infos-description{
    font-size: 19px;
    margin-bottom: 8px;
}
.card__infos-description2{
    color: #4CAF50;
    margin-bottom: 9px;
}
.card__infos-description3{
    color: #4CAF50;
}
.contact2-menu{
    margin-top: 65px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.contact2-menu1{
    color: red;
    border: 2px solid red;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    padding-left: 7px;
    padding-top: 3px;
}
.contact2-menu1:hover{
    color: white;
    border: none;
    background-color: #4CAF50;
}